ls# Ignore everything in the App directory
/containers/*

# Except the "template" folder
!/containers/template/

# Include everything inside the "template" folder
!/containers/template/**

# Ignore the content of the "app" folder inside the "template"
/containers/template/app/*

# Allow the "app" folder itself (to keep it as an empty folder)
/containers/template/app/

# Ignore the content of the "logs" folder inside the "template"
/containers/template/logs/*

# Allow the "logs" folder itself (to keep it as an empty folder)
/containers/template/logs/
